body {
  background-color: #272822;
  font-family: 'Source Code Pro';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #66D9EF;
  &:hover {
    color: #F92672;
  }
}

.icons {
  font-family: 'FontasticIcons';
}

section#header {
  text-align: center;
  color: #66D9EF;
  margin-top: 6px;

  .profile_image {
    border-radius: 50%;
    display: block;
    margin: 6px auto;
  }

  .profile_links {
    font-size: 3rem;
    padding: 0 5px;
    a {
      color: #F92672;
      &:hover {
        color: #66D9EF;
      }
    }
    p {
      margin: 0;
    }
  }
}

section#content {
  color: #F8F8F2;
  margin-top: 12px;
}

.green_mtn {
  color: #A6E22E;
}

section#footer {
  text-align: center;
  color: #F92672;
}

.big {
  font-size: 4em;
}

.tiny {
  font-size: 2em;
  padding: 0 16px;
  vertical-align: text-bottom;
}
