@white_copy: #F1F1F1;
@grey_background: #2E2B28;
@blue_link: #467AA9;
@red_hover: #D93B3E;
@green: #30420F;

html {
  font-size: 100%;
}

body {
  background-color: @grey_background;
  font-family: 'Source Code Pro';
  color: @white_copy;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: @blue_link;
  &:hover {
    color: @red_hover;
  }
}

p {
  margin-bottom: 12px;
}

.big {
  font-size: 3rem;
}

.tiny {
  padding: 0 16px;
  vertical-align: text-bottom;
}

.icon {
  font-family: 'fontello';
}

.green_mtn {
  color: @green;
}

section.hero {

  .image {
    display: block;
    background-image: url('../img/smoky_circular_mobile.png');
    margin: 12px auto;
    width: 280px;
    height: 280px;
  }
}

section.page {
  padding: 8px 28px;
}

section.header {
  text-align: center;
  color: @white_copy;
  margin-bottom: 12px;

  ul {
    list-style: none;
    margin: 0px;

    li {
      margin: 0px;

      h1 {
        font-size: 2.2rem;
      }

      &.profile_links {
        font-size: 2rem;

        a {
          margin: 0 8px;
          color: @blue_link;
          &:hover {
            color: @red_hover;
          }
        }
      }
    }
  }
}

section.content {
  font-size: 1rem;
}

section.footer {
  color: @blue_link;
  text-align: center;
}

@media only screen and (min-width: 768px) {

  section.hero {
    margin-top: 0px;

    .image {
      margin: 0;
      background-image: url('../img/smoky_hero_tablet.png');
      width: 100%;
      height: 451px;
      background-size: cover;
    }
  }

  section.page {
    position: absolute;
    top: 12px;
    left: 12px;
    text-align: left;
    width: 55%;
  }

  section.header {
    text-align: left;

    ul {
      li {
        display: inline-block;

        h1 {
          font-size: 2.5rem;
        }

        &.profile_links {
          margin-left: 32px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {

  section.hero {

    .image {
      background-image: url('../img/smoky_hero_desktop.png');
      height: 601px;
    }
  }

  section.page {
    width: 60%;
  }

  section.header {

    ul {
      li {
        h1 {
          font-size: 3.1rem;
        }

        &.profile_links {
          margin-left: 92px;
        }
      }
    }
  }

  section.content {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1197px) {

  section.hero {

    .image {
      background-image: url('../img/smoky_hero_desktop_hd.png');
      height: 845px;
    }
  }

  section.page {
    width: 65%;
    padding: 32px 48px;
  }

  section.header {

    ul {
      li {
        h1 {
          font-size: 3.2rem;
        }

        &.profile_links {
          margin-left: 256px;
        }
      }
    }
  }

  section.content {
    font-size: 1.4rem;
  }
}
